<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.mybatis.dao.ScoreDao">
	<select id="selectAll" resultType="ScVO">
		SELECT * FROM tbl_score
	</select>
	
	<select id="findBySeq"
			parameterType="Long"
			resultType="ScVO">
		SELECT * FROM tbl_score
		WHERE sc_seq = #{sc_seq}
	</select>
	<select id="findByNum"
			resultType="ScVO"
			parameterType="String">
		SELECT * FROM tbl_score
		WHERE sc_st_no = #{sc_st_no}
	</select>
	
	<insert id="insert" parameterType="ScVO">
		INSERT INTO tbl_score(SC_SEQ,
			SC_ST_NO,
			SC_SUBJECT,
			SC_SCORE)
		values(SEQ_SCORE.NEXTVAL,
				#{sc_st_no},
				#{sc_subject},
				#{sc_score})
	</insert>
	
	<update id="update" parameterType="ScVO">
		UPDATE tbl_score
		SET	sc_st_no = #{sc_st_no},
			sc_subject = #{sc_subject},
			sc_score = #{sc_score}
		WHERE sc_seq = #{sc_seq}
	</update>
	<delete id="delete" parameterType="Long">
		DELETE FROM tbl_score
		WHERE sc_seq = #{sc_seq}
	</delete>
</mapper>
